{% extends "base.html" %}

{% block title %}Lista de coisas{% endblock %}

{% block body %}
<div >
    {% for coisa in coisa_list %}
    <!--background:red;-->
    <coisa style=" display: flex; margin-bottom: 2px; width: 13%; margin-left: auto; margin-right: auto;" >
        <h2> <a href="{{ coisa.get_absolute_url }}"> {{ coisa.slug }} </a> </h2>
        <label class="switch my-3">
            <input type="checkbox" {% if coisa.estato_lampada %} checked {% endif %} >
            <span class="slider round"></span>
        </label>
    </coisa>    
    {% endfor %}
</div>
{% endblock %}