{% extends "base.html" %}

{% block title %}Lista de coisas{% endblock %}

{% block body %}
<div >
    {% for coisa,is_on in coisa_list %}
    <!--background:red;-->
    <coisa style=" display: flex; margin-bottom: 2px; width: 350px; margin-left: auto; margin-right: auto;" >
        <h2> <a href="{{ coisa.get_absolute_url }}"> {{ coisa.slug }} </a> </h2>
        {% if is_on == True %}
        <label class="switch my-3">
            <input type="checkbox" id="estado_lampada" {%if coisa.estado_lampada %} checked {% endif %}>
            <span class="slider round"></span>
            <!--ajax function to get the state of the light-->
            <script>
                function ligarDesligar(event) {
        
                    let lampada = document.getElementById('estado_lampada').checked
                    console.log(lampada)
                
                    $.ajax({
                        type: "POST",
                        url: "/IoT/{{coisa.slug}}/lampada/",
                        data: {
                            "lampada": lampada
                        },
                        success: function(response) {
                            console.log(response)
                        },
                        error: function(error) {
                            console.log(error)
                        }
                    })
                }
                
                $(document).ready(function() {
                    $("#estado_lampada").click(ligarDesligar);
                });
            </script>
        </label>
        {%else%}
        <h3>
            Indisponível
        </h3>
        {% endif %}
    </coisa>    
    {% endfor %}
</div>
{% endblock %}