{% extends "base.html" %}

{% block title %} Editando {{ coisa.slug }}{% endblock %}

{% block body %} 
<!--style="background-color: red;"-->
    <div   class="container text-center mt-80">
        <h2 style="margin-bottom:2px">{{coisa.slug}}</h2>
        <label class="switch my-3">
            <input type="checkbox" id="estado_lampada" {%if coisa.estato_lampada %} checked {% endif %}>
            <span class="slider round"></span>
        </label>    
    </div>
    <!--style="background-color: blue;"-->
    <div id="boxDesligamento" class="container text-center" >
        <h1>Ligar/Desligar daqui a:</h1>
        <br>    
        <input class="my-2 mr-3 p-1 horario" type="text" placeholder="Hora"  onfocusin="" onKeyPress="return(fMasc(this,mHora))" maxlength="5">
        <label class="switch my-3 mr-3">
            <input type="checkbox" id="estado_timer">
            <span class="slider round"></span>
        </label>
        <a>
            <button class="btn mr-3">Iniciar</button>
        </a>
    </div>
    <div id="boxTemporizador" class="container text-center" >
        <h1>Temporizador</h1>
        {% for temporizador in temporizadores %}
        {% if temporizador.coisa == coisa %}
        <form action="/IoT/atualizar_temporizador/{{temporizador.pos}}/" method="POST">
            <div style="display: flex; margin-left: 40%">
                <br >
                <!--onKeyPress="return(fMasc(this,mHora))"-->
                <input nome="horario" class="mr-3 horario" type="text" value="{{ temporizador.get_horario }}"  maxlength="5" style="width: 60px; height: 40px;">
                <label class="switch mr-3">
                    <input nome="estado" type="checkbox" {% if temporizador.estato %} checked {% endif %}>
                    <span class="slider round"x ></span>
                </label>
                <a href="/IoT/{{coisa.slug}}/remove/{{temporizador.pos}}/" {% block remove %} {%endblock%}>
                    <i class="fa fa-remove" style="font-size:24px;color:red"></i>
                </a>
                <br>
                <input type="submit" value="Salvar">
            </div> 
        </form>
        {% endif %}
        {% endfor %}
        <a href="/IoT/{{coisa.slug}}/add/" {% block add %} {%endblock%}>
            <button class="btn my-2">Adicionar</button>
        </a>
        
    </div>
{% endblock %}